
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style type="text/css">
    html, body {
      width: 100%;
      height: 100%;
    }

    main {
      width: 100%;
      height: 100%;
      background-color: #f1f1f1;
    }

    .container-fluid .fullrow {
      height: 100%;
    }

    .btn {
      margin-bottom: 12px;
      padding: .5em 2.5em;
      border-radius: 50px;
    }
  </style>
</head>
<body>
  <main>
    <div class="container-fluid">
      <div class="row align-items-center fullrow">
        <div class="col text-center">
            <h1>AlapaApp</h1>
            <h6>The polls app.</h6>
        </div>

        <div class="col text-center">
          {% block content %}
            <h3>Log out successful.</h3>

            <form action="/">
              <input class="btn btn-primary" type="submit" value="Home"/>
            </form>

          {% endblock %}
        </div>
      </div>
    </div>

  </main>

</body>
</html>