<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style type="text/css">
    html, body {
      width: 100%;
      height: 100%;
    }

    main {
      width: 100%;
      height: 100%;
      background-color: #f1f1f1;
    }

    .container-fluid, .row {
      height: 100%;
    }

    ul {
      list-style-type: none;
    }

    .btn {
      margin-bottom: 12px;
      padding: .5em 2.5em;
      border-radius: 50px;
    }

    .textfield {
      margin-bottom: .5em;
    }

    .no-match {
      font: 12px 'Lato', sans-serif;
      color: red;
    }
  </style>
</head>
<body>

  <main>
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col text-center">
          <h1>AlapaApp</h1>
          <h6>The polls app.</h6>
        </div>

        <div class="col text-center">

          {% block content %}

          {% if next %}
          {% if user.is_authenticated %}
          <p>Your account doesn't have access to this page. To proceed,
          please login with an account that has access.</p>
          {% else %}
          <p>Please login to see this page.</p>
          {% endif %}
          {% endif %}

          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="textfield">
              <!-- <td>{{ form.username.label_tag }}</td> -->
              <td>{{ form.username }}</td>
            </div>

            <div class="textfield">
              <!-- <td>{{ form.password.label_tag }}</td> -->
              <td>{{ form.password }}</td>
            </div>

            {% if form.errors %}
            <p class="no-match">Your username and password didn't match. Please try again.</p>
            {% endif %}

            <form>
              <input class="btn btn-primary" type="submit" value="Sign In" />
              <input class="btn btn-primary" type="hidden" name="next" value="{{ next }}" />
            </form>
          </form>

          {# Assumes you setup the password_reset view in your URLconf #}
          <!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->
          {% endblock %}

        </div>
      </div>
    </div>
  </main>
</body>
</html>