
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style type="text/css">
  html, body {
    width: 100%;
    height: 100%;
  }

  main {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
  }

  .container-fluid .fullrow {
    height: 100%;
  }

  ul {
    list-style-type: none;
  }

  li {
    margin-bottom: .5em;
  }

  .signoutbtn {
    margin-right: 4em;
    margin-bottom: 12px;
    padding: .5em 2.5em;
    border-radius: 50px;
    font-size: 12px;
  }

  .textfield {
    margin-bottom: .5em;
  }

  .username {
    font: 18px 'Lato', sans-serif;
  }

  .question-text {
    /*color: #000;*/
    font: 18px 'Lato', sans-serif;
  }
</style>

</head>
<body>

  <main>
    <div class="container-fluid">
      <div class="row align-items-center fullrow">
        <div class="col text-center">
          <h1>AlapaApp</h1>
          <h6>The polls app.</h6>
        </div>

        {% load static %}
        <div class="col">
          <div class="row align-items-center">
            <div class="col">

              <p class="username">User: {{ user.get_username }}</p>
            </div>
            <div class="col text-right">
              <!-- <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li> -->
              <!-- <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li> -->
              <form class="mb-0" action="{% url 'logout'%}">
                <input class="btn btn-secondary signoutbtn" type="submit" value="Sign Out" />
              </form>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <h3 class="text-center mb-0">Questions</h3>
              {% if latest_question_list %}
              <ul>
                {% for question in latest_question_list %}
                <li><a class="question-text" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
                {% endfor %}
              </ul>
              {% else %}
              <p>No polls are available.</p>

              {% endif %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </main>

</body>
</html>