
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style type="text/css">
    html, body {
      width: 100%;
      height: 100%;
    }

    main {
      width: 100%;
      height: 100%;
      background-color: #f1f1f1;
    }

    .container-fluid .fullrow {
      height: 100%;
    }

    .btn {
      margin-bottom: 12px;
      padding: .5em 2.5em;
      border-radius: 50px;
      font-size: 14px;
    }

    .choice-text {
      font: 16px 'Lato', sans-serif;
      margin-bottom: 1em;
      margin-left: 1em;
    }

    .question-text {
      font: 36px 'Lato', sans-serif;
      margin-bottom: .625em;
    }
  </style>
</head>
<body>
  <main>
    <div class="container-fluid">
      <div class="row align-items-center fullrow">
        <div class="col text-center">
            <h1>AlapaApp</h1>
            <h6>The polls app.</h6>
        </div>

        <div class="col">
            <h1 class="question-text">{{ question.question_text }}</h1>

            <ul>
              {% for choice in question.choice_set.all %}
              <li class="choice-text">{{ choice.choice_text }} -- <strong>{{ choice.votes }} vote{{ choice.votes|pluralize }}</strong></li>
              {% endfor %}
            </ul>

            <form class="mb-0" action="{% url 'polls:detail' question.id %}">
              <input class="btn btn-primary" type="submit" value="Vote Again"/>
            </form>

            <form action="/polls">
              <input class="btn btn-secondary" type="submit" value="Questions"/>
            </form>
        </div>
      </div>
    </div>
  </main>
</body>
</html>