html, body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
}

.container-fluid, .row {
  height: 100%;
}

ul {
  list-style-type: none;
}

.btn-primary {
  /*border-radius: 50px;*/
}

.btn {
  margin-bottom: 12px;
  padding: .875em 3em;
  border-radius: 50px;
}