{% load static %}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'baseapp/style.css' %}">

</head>
<body>
  <main>
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col text-center">
          <h1>AlapaApp</h1>
          <h6>The polls app.</h6>
        </div>

        <div class="col text-center">

          <form action="/accounts/login">
            <input class="btn btn-primary" type="submit" value="Sign In">
          </form>

          <form action="/signup">
            <input class="btn btn-secondary" type="submit" value="Sign Up">
          </form>

        </div>
      </div>
    </div>
  </main>
</body>
</html>






