<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style type="text/css">
  html, body {
    width: 100%;
    height: 100%;
  }

  main {
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
  }

  .container-fluid, .row {
    height: 100%;
  }

  ul {
    list-style-type: none;
  }

  .btn {
    margin-bottom: 12px;
    padding: .5em 3em;
    border-radius: 50px;
  }

  .errors {
    font: 14px 'Lato', sans-serif;
    margin-bottom: .5em;
  }

  label {
    font: 14px 'Roboto', sans-serif;
    margin-bottom: 6px;
    opacity: .8;
  }
</style>
</head>
<body>

  <main>
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col text-center">
          <h1>AlapaApp</h1>
          <h6>The polls app.</h6>
        </div>

        <div class="col text-center">

          {% block content %}
          <h4 class="mb-3 text-center">Sign up</h4>
          <form class="mb-0" method="post">
            {% csrf_token %}
            {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}
                <!-- {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %} -->
                {% for error in field.errors %}
                  <p class="errors" style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Sign Up</button>
          </form>
          {% endblock %}

          <form action="/accounts/login">
            <input class="btn btn-secondary" type="submit" value="Sign In">
          </form>
        </div>
      </div>
    </div>
  </main>

</body>
</html>












